.proticles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 3%;
}

.cardbij {
    margin: 1%;
}

.lolol {
    object-fit: cover;
}

/* pour les boutons de paginations */

.page-link {
  color: #ff7518;
}

.page-link:hover {
  color: #ff7518;
}

.page-link:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(211, 92, 12, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(211, 92, 12, 0.25)
}

.page-item.active .page-link {
  background-color: #ff7518;
  border-color: #ff7518
}

/* c'était pour la navbarE dropdownE 

.navbare {
  overflow: hidden;
  background-color: #373a3c;
}

.navbare a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdowne {
  float: left;
  overflow: hidden;
}

.dropdowne .dropbtne {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbare a:hover, .dropdowne:hover .dropbtne {
  background-color: #ff7518;
}

.dropdowne-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdowne-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdowne-content a:hover {
  background-color: #ddd;
}

.dropdowne:hover .dropdowne-content {
  display: block;
}
*/