{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="/css/actu.css">{% endblock %}
{% block title %}{% endblock %}

{% block body %}

<div class="container">
    <h3>Actualités</h3>

    <div class="jumbotron">
        <h1 align="center" class="display-4">Hello, world!</h1>
        <br>
        <div class="row mx-auto">
            <div class="col-md-6">
                <img src="imag/bague3.jpg" alt="" width="100%">
            </div>
            <div class="col-md-6">
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <h1 align="center" class="display-4">Hello, world!</h1>
        <br>
        <div class="row mx-auto">
            <div class="col-md-6">
                <img src="imag/bague3.jpg" alt="" width="100%">
            </div>
            <div class="col-md-6">
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <h1 align="center" class="display-4">Hello, world!</h1>
        <br>
        <div class="row mx-auto">
            <div class="col-md-6">
                <img src="imag/bague3.jpg" alt="" width="100%">
            </div>
            <div class="col-md-6">
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}