{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="/css/home.css">{% endblock %}
{% block body %}

  <h1>l'heure et l'ooor</h1>

{% include '/bijouterie/slider.html.twig' %}


{% endblock %}
