{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="/css/marques.css">{% endblock %}

{% block title %}{% endblock %}

{% block body %}

<div class="container">

    <h3>Découvrez nos Marques<h3>
        <h5>Bijoux</h5>
        <hr>
        <div class="row">
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
        </div>
        <div class="row">
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
        </div>
        <div class="row">
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
        </div>           

        <h5>Montres</h5>
        <hr>
        <div class="row">
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
        </div>
        <div class="row">
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
        </div>
        <div class="row">
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
            <div class="col-3"><a href=""><img src="imag/logo-festina.jpg" alt="" width="100%"></a></div>
        </div>        
            
</div>
<br>

{% endblock %}