{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="/css/.css">{% endblock %}
{% block title %}{% endblock %}

{% block body %}

<br>
<div class="container">

<h1>Modifier une actu !</h1>
<br>

    {% form_theme formnews 'bootstrap_4_layout.html.twig' %}
    {{ form_start(formnews) }}

    <label for="">Titre</label>
    {{ form_widget(formnews.titreNews) }}
    <br>
    <label for="">Texte</label>
    {{ form_widget(formnews.textNews) }}

    <br><br><br>
    <center>
    <button type="submit" class="btn btn-warning">Mettre à jour !</button>
    </center>

    {{ form_end(formnews) }}

</div>
<br><br>

{% endblock %}