{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="/css/services.css">{% endblock %}
{% block title %}{% endblock %}

{% block body %}

<div class="container">

    <br>
    <h1>Découvrez nos Services</h1>
    <hr width="70%">
    <br>
    <div class="row mx-auto container">
        <div class="col-md-6">
            <p>Entreprise de l’économie sociale et solidaire (agrément ESUS), Simplon.co est un réseau de « fabriques » (écoles) qui propose des formations gratuites pour les apprenant.e.s et intensives pour devenir développeur.se de sites web et d’applications mobiles, intégrateur.trice, référent numérique, datartisan, e-commerçant...
            </p>
        </div>
        
        <div class="col-md-6">
            <img src="/imag/90d317b427ad.jpg" alt="" width="100%" />
        </div>
        <hr width="70%">
                  
        <div class="row mx-auto container">
        <div class="col-md-6">
            <img src="/imag/bebe.jpg" alt="" width="100%" />
        </div>
        
        <div class="col-md-6">
            <p>Entreprise de l’économie sociale et solidaire (agrément ESUS), Simplon.co est un réseau de « fabriques » (écoles) qui propose des formations gratuites pour les apprenant.e.s et intensives pour devenir développeur.se de sites web et d’applications mobiles, intégrateur.trice, référent numérique, datartisan, e-commerçant...
            </p>
        </div>
        </div>
        <hr width="70%">
        <div class="sav" align="center">
        <h2>Le SAV le meilleur des Ardennes</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit architecto cupiditate libero! Aut ad eligendi unde aliquam impedit, nemo illo quisquam, reiciendis tempora dolorum nisi odit cumque, dicta aperiam veritatis.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad adipisci voluptate eius repudiandae dolorum ut vel voluptatum cupiditate omnis nam! Optio eos id quisquam consectetur doloribus laboriosam porro nam veritatis!
        </p>
        </div>
        <div class="row mx-auto container">
            <div class="col-md-4 p-1">
                <img class="mdro" src="/imag/bague3.jpg" alt="" width="300px" height="300px"/>
            </div>
            <div class="col-md-4 p-1">
                <img class="mdro" src="/imag/bleu-de-chauffe-marque-sacs.jpg" alt="" width="300px" height="300px"/>
            </div>
            <div class="col-md-4 p-1">
                <img class="mdro" src="/imag/bijouterie-beaune-4.jpg" alt="" width="300px" height="300px"/>
            </div>
        </div>

        <hr width="70%">
        <h2>Du nouveau avec la maroquinerie</h2>
        <img src="/imag/0e9b702ce4104a3f88a8aacffaadc915.jpg" alt="" width="100%"/>
        <hr width="70%">

        <div class="row mx-auto container">
            <div class="col-md-6">
                <img src="/imag/boucles-d-oreilles-anneau-zircons-big.jpg" alt="" width="100%"/>
            </div>
                
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <h2>Perçage d'oreilles</h2>
                    <br><br>
                    <p>Entreprise de l’économie sociale et solidaire (agrément ESUS), Simplon.co est un réseau de « fabriques » (écoles) qui propose des formations gratuites pour les apprenant.e.s et intensives pour devenir développeur.se de sites web et d’applications mobiles, intégrateur.trice, référent numérique, datartisan, e-commerçant...
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr width="70%"><br><br>
</div>

{% endblock %}